{%  extends 'frontend/layout.html' %}
{% load humanize %} <!-- การเพิ่มคอมม่าในยอดวิวหลัก1000+ -->
{%block content%}
<div class="col-lg-9">
    <div class="row">
        <div class="col-md-8 img">
          <img src="https://sv1.picz.in.th/images/2021/11/23/6kMJxy.md.jpg"  alt="" class="img-rounded">
        </div>
        <div class="col-md-6 details">
          <blockquote>
            <h4> Created by </h4>
            <h5>Siwawut Wongyara</h5>
          </blockquote>
          <p>
            Email : 6480494426@student.chula.ac.th  <br>
            Student No : 6480494426
          </p>
        </div>
      </div>
</div><!-- end col -->
{%endblock%}